
# Playwright
node_modules/
/scripts/.generated/
/artifacts/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
test-results.json
.env
results.xml
*.log
test_log.txt
test1_log.txt
structure.txt
tree.txt
